@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); 

*{
    margin: 0;
    padding: 0;
}

body{
    scroll-behavior: smooth;
}

nav{
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    padding-block: 1rem;
}

.nav-content{
    /* border: 2px solid; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
   
}

.gen-layout{
    max-width: 1100px;
    margin: auto;
}


.nav-content > h1> span{
    color: red;

}
.nav-right{
    width: 800px;
}
.nav-items{
    display: flex;
    align-items: center;
    gap: 3rem;
    
}

.nav-items > a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    text-transform: capitalize;
}

.nav-items > a:nth-child(1){
    color: #467c7f;
    font-weight: 100;
}

.btn-btn{
    padding: .7rem 1rem;
    text-transform: capitalize;
    border-radius: 5px;
    border: none;
    background-color: #034e52;
    color: #fff;
}

/* styling for hero section */
.hero-sec{
    background: linear-gradient(90deg, #f3f7f7 67%, #034e52 35%);
    padding-top: 1.5rem;
}

.hero{
    display: flex;
    gap: 4rem;
    align-items: center;
}

.hero-content > h1{
    font-size: 2.5rem;
    width: 400px;
}

.hero-content > p{
    margin: .6rem 0 2rem;
    font-weight: 600;
}

.hero-btn{
    display: flex;
    gap: 3rem;
}

.hero-btn > button:last-child{
    background-color: transparent;
    border: 1px solid #467c7f;
    color: #467c7f;
}

.hero-image{
    height: 70vh;
    width: 30%;
}

.hero-image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.selecting-input-option{
    background-color: #fff;
    box-shadow: 2px 3px 3px #f6f6f6;
    padding: 1rem;
    max-width: 750px;
    margin: auto;
    display: flex;
    gap: 1rem;
    align-items: center;
}

select{
    background-color: #f2f6f6;
    border: none;
    text-transform: capitalize;
    padding: 0.4rem;
    width: 200px;
    font-weight: 500;
    border-radius: 2px;
}

.search-input{
    border-radius: 4px;
    width: 500px;
    border: solid #034e52 1px;
    align-items: center;
    background-color: #f2f6f6;
    display: flex;
}

.search-input >input{
    padding: .4rem  .6rem;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    
}
.search-input >input::placeholder{
    text-transform: capitalize;
}

.selecting-input-option >button{
    background-color: #034e52;
    padding: .4rem 1rem;
    color: #fff;
    text-transform: capitalize;
    border: none;
    border-radius: 7px;
}

.service-card-wrapper{
    margin-block: 3rem;
    display: flex;
    justify-content: space-between;
}

.service-card > span{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: solid black 3px;
    
}

.service-card{
    width: 20%;
    padding-block: 1.5rem;
    padding-inline: 1rem;
    /* height: 40vh; */
    background-color: #fff;
    box-shadow: .2rem .1rem 1rem .3rem  #f4f4f4;
    border-radius: 15px;
    
}

.service-card >h2{
    text-transform: capitalize;
    font-size: 22px;
    text-align: center;
}

.service-card >p{
    font-size: 15px;
    text-align: center;
    margin-block: 0.6rem;
    /* border: 1px solid black; */
}

.service-card:nth-child(2){
    background-color: #034e52;
    color: #fff;
}
.service-card:nth-child(2)>span{
    background-color: #fff;
}

/* styling for discover doctor section  */

.discover-doctor{
    background: color #e6edee; 
    padding-block: 3rem;
    
}

.discover> h4{
    width: 200px;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.discover>h4>span{
    background-color: #034e52;
    color: #fff;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discover>h1{
    text-transform: capitalize;
    font-size: 3.5rem;
    text-align: center;
}

.discover-doctors-wrapper{
   /* border: 2px solid red; */
   margin-top: 2.5rem;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 2rem;
   display: grid;

}

.doctor-card{
    border: 2px solid black;
    height: 30vh;
    padding: 2rem 1rem;
    display: flex;
    /* gap: 1rem; */
    border-radius: 20px;
    background-color:#fff;
    align-items: center;
}

.doctor-card-content> h3{
    text-transform: capitalize;
    font-size: 18px;
    width: 200px;
}

.doctor-card-content>ul{
    margin-top: 1rem;
    margin-left: 1rem;
}

.doctor-card-content>ul>li{
    list-style: none;
    padding-bottom: 1rem;
    text-transform: capitalize;
}

.doctor-card>img{
    border: 2px solid black;
    width: 50%;
}

.doctor-card-content{
    width: 50%;
}

    /* responsive styling with media query */
   @media(min-width:320px) and (max-width:460px){
    
    .nav-content{
        width: calc(100% - 30px);
    }

   .nav-right{
    display: none;
   }

   .hero-sec{
    background: #034e52;
    width: calc(100% - 30px);
   }

   .hero{
    width: calc(100% - 30px);
    flex-direction: column;
    /* flex-direction: coulmn-reverse: */
   }

   .hero-content{
    width: 100%;
   }

   .hero-content>h1{
    width: 100%;
   }

   .hero-image{
    width: 100%;
   }

   .hero-btn>btn{
    background-color: #fff;
    color: #467c7f;
   }

   .service-card-wrapper{
    flex-direction: column;
    max-width: 300px;
    margin: auto;
    gap: 2rem;
   }

   .service-card{
    width: 100%;
    padding-inline: 0;

   }

   .discover>h1{
    font-size: 2rem;
   }

   .discover-doctors-wrapper{
    grid-template-columns: 1;
    width: calc(100%-30px);
   }

   } 